* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;

}


.main {
    display: flex;
    height: 20rem;
    flex-basis: 100rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;




}


.main-background {
    background-color: blanchedalmond;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.main-header h1 {
    font-size: 5rem;
    margin-bottom: 1.2rem;
}

.main-header h2 {
    font-size: 3rem;

}

/* LOGIN */
.main-login {
    background-color: rgb(248, 237, 221);
    border: 2px solid black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 50rem;
    border-radius: 1rem;

}

.login-form {
    display: flex;
    height: 20rem;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.main-login form input {
    margin-bottom: 2rem;
}

.login-form input,
.login-form button {
    width: 34rem;
    padding: 0.8rem 0.1rem;
    font-size: 2rem;
    border-radius: 1rem;
    background-color: white;

}

.login-form button {
    width: 20rem;
    cursor: pointer;
}

.register-form {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.register-form button {
    padding: 1.2rem .5rem;
    font-size: 1.8rem;
    border-radius: 2rem 1rem;
    width: 22rem;
    background-color: rgb(249, 219, 175);
    box-shadow: 0 0 4px #000;
    margin-top: 10rem;
    cursor: pointer;
}

/* Register forma */
#register-button {
    padding: 1.2rem .5rem;
    font-size: 1.8rem;
    border-radius: 2rem 1rem;
    width: 22rem;
    margin-top: 2rem;
    background-color: rgb(249, 219, 175);
    box-shadow: 0 0 4px #000;
}

.gender-select {
    width: 34rem;
    padding: 0.8rem 0.1rem;
    font-size: 2rem;
    border-radius: 1rem;

}

input[type="date"] {
    padding: 2rem;
}

/* copyright */
.copyright {
    height: 4rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Sređivanje moje baze */
.addBtn {
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 219, 175);
    border-radius: 10px;
    border: none;
    margin: auto;
    cursor: pointer;
}

.container-db {
    position: relative;
    top: 14rem;

}

.container-db h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.home-background {
    background-color: blanchedalmond;
    height: 100vh;
}

.home-db {
    background-color: white;
    width: 80rem;
    border-radius: 10px;
    margin: auto;
    border: 2px solid black;
    border-bottom: none;
}

/* Sređivanje dodatih pečuraka u tabelu */
.home-ul {
    position: relative;
    list-style: none;
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 0.01rem;
}

.home-delete-input-hidden {
    display: none;
}

.home-change-input-hidden {
    display: none;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;

}

.overlay-active {
    opacity: 1;
}



#deleteBtn {
    width: 4rem;
    height: 4rem;
    background-image: url("../img/delete.png");
    background-size: contain;
    background-color: white;
    border: none;
    cursor: pointer;
}

.changeBtn {
    background-color: white;
    border: none;
    cursor: pointer;
    height: 4rem;
    border: 1px solid black;
    padding: .1rem;

}



.location-icon {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}



/*Popup form*/
.popup-form-add,
.popup-form-update {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40rem;
    height: 60rem;
    background-color: rgb(248, 237, 221);
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.6rem;
}

.popup-form-add-visible {
    visibility: visible;
}

.popup-form-update-visible {
    visibility: visible;
}

.popup-form-add input,
.popup-form-update input {
    height: 4rem;
    font-size: 1.6rem;
    border: 2px solid black;
    border-radius: 5px;

}

.popup-date-container {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.popup-date-container input {
    border: none;
}

.popup-help-container {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.popup-help-container input {
    display: inline-block;
    width: 2rem;

}

.popup-img-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 12rem;
    height: 5rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;


}

.popup-img-container input[type="file"] {
    border-top: none;
    width: 24rem;
    height: 5rem;
    position: absolute;
    right: -2rem;
    top: 2rem;
}

#popup-add,
#popup-update {
    height: 5rem;
    padding: 1.2rem .5rem;
    font-size: 1.8rem;
    border-radius: 2rem 1rem;
    width: 22rem;
    margin-top: 2rem;
    background-color: rgb(249, 219, 175);
    box-shadow: 0 0 4px #000;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.popup-exit-btn {
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    background-color: blanchedalmond;
    align-self: center;
    border-radius: 10px;
    cursor: pointer;

}

#invisibleMushroomId {
    display: none;
}